/*顶部样式*/
.search {
    display:flex;
    border:0.02rem solid #ff9c00;
    width:4.21rem;
    height:42px;
}
.search .weui-cell {
    display:block;
    padding:0 0.1rem;
    width:3.33rem;
}
.search .weui-cell__bd {
    display:flex;
}
.search .search_input {
    /*height:0.43rem;*/
    height:42px;
    line-height:0.43rem;
    outline:none;
    border:none;
}
.search .search_btn {
    border-radius:0;
    /*height:0.43rem;*/
    height:42px;
    width:0.88rem;
    padding:0;
    /*background:url("../images/icon_serach.png") no-repeat center center #ff9c00;*/
    background-color:#ff9c00;
    background-size:0.24rem;
    border:none;
    box-shadow:none;
}
