.primary {
  margin: 0;
  float: left;
  width: 100%;
}
.content {
  margin: 0 7.6%;
  position: relative;
  width: auto;
}

.nav-single {
  overflow: hidden;
  padding: 0 0 1.625em;
  float: right;
  position: relative;
  top: -.3em;
  text-align: right;
  z-index: 1;
}
.nav-previous {
  padding-right: .5em;
  float: left;
}
.nav-next {
  padding-left: .5em;
  float: right;
  text-align: right;
}
.nav-single a {
  color: #1982d1;
}

.post {
  border-bottom: none;
  padding: 4.875em 0 0;
  position: relative;
  margin: 0 0 1.625em;
}
.comments-title, .entry-content, .entry-header, footer.entry-meta {
    margin: 0 auto;
    width: 80%;
}
.entry-header .entry-meta, .entry-title {
  padding: 0;
}
.entry-title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: .3em;
  padding-top: 15px;
}

.entry-header .entry-meta {
  position: absolute;
  top: 0;
  left: 0;
  color: #666;
  font-size: 12px;
  line-height: 18px;
}
.entry-meta a {
  font-weight: 700;
  color: #1982d1;
}

.entry-content {
  padding: 1.625em 0 0;
}
.entry-content .plain {
  background-color: white !important;
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  overflow-y: hidden !important;
  font-size: 1em !important;
}
.entry-content .plain pre {
  width: 100% !important;
}
.entry-content p {
  margin-bottom: 1.625em;
}

.entry-meta {
  color: #666;
  font-size: 12px;
  line-height: 18px;
}

.comments .respond {
  width: 70%;
}