a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

body {
  margin: 0;
  padding: 0 30px;
  background: #e2e2e2;
}
body, input, textarea {
    color: #373737;
    font: 15px "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.625;
  }
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.page {
  margin: 30px 0;
  background: white;
}

.header {
  border-top: 2px solid gray;
  padding: 0 0 10 0;
}

.top {
  margin: 0 7.6%;
  overflow: hidden;
}
.top .search {
  margin-top: 50px;
  float: right; 
}
.top .search input {
  width: 72px;
  height: 22px;
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 4px 10px 4px 28px;

}

.site-title {
  margin: 0 270px 0 0;
  margin-top: 95px;
}
.site-title a {
  color: #111;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.site-title a:hover {
  color: #1982d1;
}
.site-description {
  color: #7a7a7a;
  font-size: 14px;
  margin: 0 270px 3.625em 0;
}

.nav {
  background: #222;
  box-shadow: rgba(0,0,0,.4)0 1px 2px;
  overflow: hidden;
  display: block;
  margin: 0 auto 6px;
  width: 100%;
}
.nav .case {
  margin: 0 7.6%;
}
.nav ul {
  font-size: 13px;
  margin: 0 0 0 -.8125em;
  padding-left: 0;
  overflow: hidden;
}
.nav li {
  float: left;
  position: relative;
}
.nav a {
  color: #eee;
  display: block;
  line-height: 3.333em;
  padding: 0 1.2125em;
}
.nav a:hover {
  background: #efefef;
  color: black;
}

.main {
  padding: 1.625em 0 0;
  overflow: hidden;
}

.footer {
  overflow: hidden;
}
.footer .site-generator {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em .5em;
  text-align: center;
}
.site-generator a {
  color: #555;
  font-weight: 700;
}

.secondary {
  float: right;
  margin-right: 7.6%;
  width: 18.8%;
  font-size: 12px;
}
.calendar {
  overflow: hidden;
  margin: 0 0 2.2em;
  font-size: 12px;
}
.wp-calendar {
  color: #555;
  width: 95%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
}
.wp-calendar a {
  font-weight: 700;
  text-decoration: none;
  color: #1982d1;
}
.wp-calendar caption {
  font-size: 11px;
  font-weight: 500;
  padding: 5px 0 3px;
  text-transform: uppercase;
}
.wp-calendar th {
  background: #f4f4f4;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}
wp-calendar td {
  font-size: 12px;
  font-weight: 400px;
}
.wp-calendar tfoot td {
  background: #f4f4f4;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}

.respond {
  position: relative;
  background: #ddd;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin: 0 auto 1.635em;
  padding: 1.625em;
}
.reply-title {
  color: #373737;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.form-author, .form-content, .form-email, .form-submit {
  position: relative;
}
.respond p {
  margin: 10px 0;
  font-size: 12px;
}
.respond label {
  line-height: 2.2em;
}
.form-notes {
  font-size: 13px;
}
.form-author label, .form-content label, .form-email label {
  position: relative;
  background: #eee;
  box-shadow: 1px 2px 2px rgba(204, 204, 204, .8);
  color: #555;
  display: inline-block;
  font-size: 13px;
  height: 36px;
  line-height: 36px;
  left: 4px;
  top: 48px;
  min-width: 60px;
  padding: 4px 10px;
  z-index: 1;
}
.form-author label span, .form-content label span, .form-email label span {
  color: #bd3500;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  left: 75%;
  position: absolute;
  z-index: 1;
}
.respond input[type=text] {
  display: block;
  height: 24px;
  width: 75%;
}
.respond input[type=text], .respond textarea {
  position: relative;
  background: #fff;
  border: 4px solid #eee;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(204, 204, 204, .95);
  padding: 10px;
  text-indent: 80px;
}
.respond textarea {
  margin: 0;
  resize: vertical;
  width: 95%;
}

.form-submit {
  width: 100%;
  height: 34px;
  margin: 0px;
}
.form-submit .submit {
  background: #222;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0, .3);
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  margin: 20px 0;
  padding: 5px 42px 5px 22px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  margin: 0;
}